[submodule "external/listlib"]
	path = external/listlib
	url = https://github.com/OneToThreeCreator/ListLib
[submodule "external/inih"]
	path = external/inih
	url = https://github.com/benhoyt/inih
[submodule "external/glad2"]
	path = external/glad2
	url = https://github.com/Dav1dde/glad
	branch = glad2
